h1{
	background:black;
	color:white;
	border-radius:30px;
}

label{
	color:red;
}

input{
	border:7px black solid;
	background: green;
}

form{
	border:3px brown solid;
	margin: 23px;
	border-radius:20px;
	padding: 7px;
}

table{
	border: 3px blue dotted;
}